[submodule ".vim/bundle/vim-plug"]
	path = .vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
